.container{
    max-width: 620px;
    height: 600px;
    margin: 50px auto;
    padding: 15px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #e85b8a;
}

.form-group{
    margin-bottom: 20px;
    padding: 13px;
}

.input-field{
    width: 100%;
    border: 3px solid #a4a0a4;
    padding: 10px;
    border-radius: 10px;
}

.error-icon {
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content{
    width: 180px;
    background-color: rgb(108, 57, 67);   
    color: aliceblue;
    padding: 20px;
    border: 1px solid #888;
    margin: 15% auto; 
}

.close{
    color: #2d2d2d;
    font-weight: bolder;
    float: right;
    font-size: 150%;
}

.close:hover,
.close:focus{
    color: blueviolet;
    text-decoration: none;
    cursor: pointer;
}

.button{
    width: 120px;
    height: 60px;
    color: rgb(147, 242, 242);
    background-color: rgb(73, 22, 48);
    font-weight: bolder;
    margin-left:  250px;
    font-size: larger;
    border-radius: 5px;
}
